<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net47" />
  <package id="Functional.Maybe" version="1.1.1" targetFramework="net462" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net47" />
</packages>